<!-- -*- engine:django -*- -->

{% extends "base.html" %}
{% block title %}OCR a pdf or image File{% endblock %}

{% block content %}
<h1>OCR a pdf or image file</h1>
<form action="/" method='post'>
    <label for="password">{{message}}:</label><br>
    <input type="password" id="password" name="password" value="" autofocus="autofocus"><br>
    <input class="button-primary" type="submit" value="Submit">
</form>
{% endblock %}
