<!-- -*- engine:django -*- -->

<!DOCTYPE html>
<html lang="en">

  <head>
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='web-app.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='Skeleton/css/skeleton.css') }}">
    {% block head %}
    {% endblock %}
  </head>

  <body>
    <div class="container " id="content">
      {% block content %}{% endblock %}
    </div>
  </body>

</html>
