<!-- -*- engine:django -*- -->

{% extends "base.html" %}
{% block title %}Processing your file(s)...{% endblock %}

{% block head %}
    <script defer src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js">
    </script>
    <script defer src="{{ url_for('static', filename='js/ajax-poll.js') }}">
    </script>
{% endblock %}

{% block content %}
    <h3>Processing your file(s)...</h3>
    <body class="body">
        <p>{% with messages = get_flashed_messages() %}
            {% if messages %}
                <b> <ul> {% for message in messages %}
                    <li>{{ message }}
                {% endfor %}
                </ul> </b>
            {% endif %}
        {% endwith %}
        </p>
        <div class="job" style="border:1px solid lightgray;">
            <table>
                <tr>
                    <th>Original file</th>
                    <th>Output file</th>
                    <th>Language</th>
                    <th>Status</th>
                    <th>Save text</th>
                    <th>Double page</th>
                </tr>
                <tr>
                    <td>{{ filename }}</td>
                    <td>{{ outfile }}</td>
                    <td >{{ lang }}</td>
                    <td id="status"></td>
                    <td>{{ stxt }}</td>
                    <td>{{ dblpage }}</td>
                </tr>
                <tr>
                    <th colspan="4">Job</th>
                    <th colspan="2">Time</th>
                </tr>
                <tr>
                    <td colspan="4" class="job_id" style='visibility:visible'>
                        {{ id }}
                    </td>
                    <td colspan="2">
                        <code style="font-family:courier;" class="counter">
                        </code>
                    </td>
                </tr>
                <tr>
                    <td colspan="100%">
                        <button id="commandbtn" onclick="toggleCommand()">View command</button>
                        <div class="command" style="font-family:courier;font-size:90%;display:none;">
                        </div>
                    </td>
                </tr>
            </table>
            <p class="waiting" style="word-wrap:break-word">
            </p>
        </div>
        <p class="result_text">
        </p>
        <form action="/stop" id="abort" method="GET" style='visibility:visible'>
            <input class="button-primary" type="button"
                   onclick="window.location.href='/stop/{{ id }}';"
                   value="Abort!" />
        </form>
        <form method="GET" style='visibility:hidden' id="download">
            <input action="/return-files" class="button-primary" type="button"
                   onclick="window.location.href='/return-files/{{ downfile }}';"
                   value="download file(s)" />
            <input  id="startover" type="button" onclick="window.location.href='/upload';" value="start over | upload different files" />
        </form>
        <div id='output' style="visibility:hidden;border:1px solid lightgray">
            <p><b>command output:</b>
                <pre id="stdout" style="white-space:pre-wrap">
                </pre>
            </p>
        </div>
{% endblock %}
