<!-- -*- engine:django -*- -->

{% extends "base.html" %}
{% block title %}Processing your file(s)...{% endblock %}

{% block content %}
    <h3>Processing your file(s)...</h3>
    <body class="body">
        <p>
            {% with messages = get_flashed_messages() %}
                {% if messages %}
                    <b>
                        <ul>
                            {% for message in messages %}
                                <li>{{ message }}
                            {% endfor %}
                        </ul>
                    </b>
                {% endif %}
            {% endwith %}
        </p>
        <p>
            Select the source language of your media, then click the button below to OCR your file.<br>

            <form name="Source Language" action="/processing" method="POST" onsubmit="">
                <p>
                    {% if tess_dict %}
                        {% for lang, language in tess_dict.items() %}
                            <label>
                                <input type="radio" name="Source Language" id="1" value="{{lang}}" {% if lang == "eng" %}checked="checked"{% endif %}>{{language}}
                            </label>
                        {% endfor %}
                    {% endif %}
                </p>
                <label>
                    <input type="checkbox" name="Save Text">
                    Also save OCR plain text output
                </label>
                <label>
                  <input type="checkbox" name="Double Page">
                  PDF has two pages per sheet (double)
                </label>
                <p>
                <p><input class="button-primary" type=submit value="Process files">
                    <input method="GET" id="startover" type="button" onclick="window.location.href='/upload';" value="start over | upload different files" />
            </form>
            <p>
                If your desired language is not here, contact <u>martianhiatus [[at]] riseup [[dot]] net</u> and we can install it for you.<br><br>

{% endblock %}
