<!-- -*- engine:django -*- -->

{% extends "base.html" %}
{% block title %}Upload PDF or Image File(s) to OCR{% endblock %}

{% block head %}
{{ dropzone.load_css() }}
{{ dropzone.style('border: 5px dashed #0087F7; background-color: #8e8e8e; margin: 10%; ') }}
{% endblock %}

{% block content %}
<h3>OCR a pdf or image with tesseract</h3>
<strong>
    {% with messages = get_flashed_messages() %}
    {% if messages %}
    {% for message in messages %}
    {{ message }}
    {% endfor %}
    {% endif %}
    {% endwith %}
</strong>

{{ dropzone.load_js() }}
{{ dropzone.create(action='upload_file') }}
{{ dropzone.config() }}

<div class="buttons">
    <form action='/processing' id="dz-submit-btn" method="GET" >
        <button class="button-primary" type="submit">Next</button>
        <button form="remove" class="button" type="submit">remove all</button>
    </form>
    <form action='/upload' method="GET" id="remove">
    </form>
</div>

<h4>Or manually upload:</h4>

<form action="/upload" method="POST" enctype="multipart/form-data">
    <input type="file" name="files[]" />
    <input class="button-primary" type="submit" value="submit"/>
</form>
<p>
    Max file size is currently at 1024MB. If your file is really huge, maybe just email it over and we can transcribe it offline for you.
    <p>
        Currently accepted file types:
        {% with messages = exts %}
        {% if messages %}
        <table style="width:100%">
            <tr>
                {% for message in messages %}
                <td style="text-align: center">{{ message }}</td>
                {% endfor %}
            </tr>
        </table>
        {% endif %}
        {% endwith %}
        If you need to transcribe a file type the engine doesn't accept, contact <u>martianhiatus [[at]] riseup [[dot]] net</u> to add it.
        {% endblock %}
